In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("D:/MLOPs-Projects/nyc-taxi-trip-duration/data/raw/extracted/train.csv")

In [4]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [5]:
df.loc[: , 'trip_duration'] = df.trip_duration/60

C:\Users\vinay\AppData\Local\Temp\ipykernel_7952\3496019320.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 7.58333333 11.05       35.4        ... 12.73333333  6.21666667
  3.3       ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[: , 'trip_duration'] = df.trip_duration/60

In [6]:
df.trip_duration.sample(5)

844929      8.700000
1143187     8.966667
90137      11.150000
1030187     8.550000
29083      10.233333
Name: trip_duration, dtype: float64

In [7]:
df.trip_duration.describe()

count    1.458644e+06
mean     1.599154e+01
std      8.729053e+01
min      1.666667e-02
25%      6.616667e+00
50%      1.103333e+01
75%      1.791667e+01
max      5.877137e+04
Name: trip_duration, dtype: float64

In [8]:
df.trip_duration.max()

np.float64(58771.36666666667)

In [9]:
df.shape

(1458644, 11)

In [13]:
filter_series = df.trip_duration<=200
new_df = df.loc[filter_series , :].copy()

In [15]:
new_df.trip_duration.max()

np.float64(199.56666666666666)

In [16]:
new_df.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration'],
      dtype='object')

In [20]:
sample = pd.to_datetime(new_df.pickup_datetime.sample(5))

In [26]:
sample.iloc[0].date()

datetime.date(2016, 4, 18)

In [18]:
import datetime as dt

TypeError: 'str' object cannot be interpreted as an integer